.head {
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .header1_container{
    position: sticky;
      top: 0;
  }
  
  
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .head h2 {
    margin: 0.5em;
    font-size: 150%;
    font-weight: bold;
  }
  
  .button-section {
    display: flex;
  }
  
  .head img {
    width: 6%;
    height: auto;
  }
  
  .head button {
    background-color: #E5AA70;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: center;
    height: 30px;
    width: 70px;
    vertical-align: middle;
  }
  
  .head button:hover {
    background-color: #d9842f;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #E5AA70;
    padding: 0.5em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
  }
  
  nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    color: black;
  }
  